<div>
  <% flash.each do |key, value| %>
  <% end %>
        <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li><%= link_to "Home", root_path%></li>
        </ol>
      </div>
</div>