<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="owner_info">
        <%= render 'shared/owner_info' %>
      </section>
      <section class="boutique_form">
        <%= render 'shared/boutique_form' %>
      </section>
    </aside>
  </div>
<% else %>
 

<!--  <div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>...</p>
    </div>
</div> -->
</div>

<div class="center jumbotron custom_jumbotron">


<div class="tagline">Moving Fashion Forward</div>
</div>
 </div



<% end %>
