<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="owner_info">
        <%= render 'shared/owner_info' %>
      </section>
      <section class="boutique_form">
        <%= render 'shared/boutique_form' %>
      </section>
    </aside>
  </div>
<% else %>

<div class="center jumbotron custom_jumbotron">
  <h1>Help us drive fashion forward</h1>
</div>
<div class="row">
  <div class="col-lg-4">
  <h2>
    List your truck
  </h2>
  <%= link_to "Add your boutique", signup_path, class: "btn btn-sm btn-primary" %>
</div>
  <div class="col-lg-4">
  <h2>
    Do some shopping
  </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-sm btn-primary" %>
</div>
  <div class="col-lg-4">
  <h2>
    Start your own boutique
  </h2>
</div>


</div>

<% end %>
