<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="owner_info">
        <%= render 'shared/owner_info' %>
      </section>
      <section class="boutique_form">
        <%= render 'shared/boutique_form' %>
      </section>
    </aside>
  </div>
<% else %>

<div class="center jumbotron">
  <h1>Welcome to Fashion Truck US</h1>

  <h2>
    This is the home page for the
    <a href="#">Fashion Truck US</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<% end %>
