<% provide(:title, @owner.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @owner %>
        <%= @owner.name %>
      </h1>
    </section>
  </aside>
</div>