<% provide(:title, @owner.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="owner_info">
      <h1>
        <%= gravatar_for @owner %>
        <%= @owner.name %>
      </h1>
    </section>
  </aside>
    <div class="col-md-8">
      <h3><%= @owner.boutiques.name %></h3>


      <%= will_paginate @boutiques %>

  </div>
</div>