
<h1>Fashion Truck US Boutique Listing</h1>



<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <div class="row"><tr>
         <div class="col-sm-2" style="background-color:lavender;"><th>Name</th></div>  
         <div class="col-sm-8" style="background-color:lavenderblush;"><th>Website</th></div>
        </tr>
      </thead>

      <tbody>
        <tr class="row-links">

        </tr>

      </tbody>
    </table>
  </div>
</div>


