<p id="notice"><%= notice %></p>
<% provide(:title, @boutique.name) %>

<div class="center jumbotron">
  <h1><%= @boutique.name %> Profile</h1>


    <div class="container"> 
      <div class="row">
  <div class="col-md-12">
    <section class="user_info">
      <h1>

      </h1>
    </section>
  </div>
</div>

<!-- <div class="sidebar">
                <div class="fb-post" data-href="https://www.facebook.com/FacebookDevelopers/posts/10151471074398553" data-width="350"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/FacebookDevelopers/posts/10151471074398553"><p>Be the first to know when we release a new video by subscribing to our official Facebook Developers YouTube channel!  http://www.youtube.com/facebookdevelopers</p>Posted by <a href="https://www.facebook.com/FacebookDevelopers">Facebook Developers</a> on <a href="https://www.facebook.com/FacebookDevelopers/posts/10151471074398553">Wednesday, May 29, 2013</a></blockquote></div></div>
     </div> -->
<%= link_to 'Back to Boutiques Directory', boutiques_path %>
