<%= form_for(@boutique) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :name, placeholder: "Provide a description of your boutique here" %>
  </div>
  <%= f.submit "Save Boutique", class: "btn btn-primary" %>
<% end %>