@import "bootstrap-sprockets";
body {
  padding-top: 60px;
}
@import "bootstrap";
@-ms-viewport       { width: device-width; }


/* universal */
html {
font-family: 'Lato', sans-serif;
background: url(truck_picture1.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  
}

.tagline {
  font-family: 'Pacifico', cursive;
  font-size: 63px;
}





.custom_jumbotron {
  width: 100%;
  background-color: #FF80AB;
  margin-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* typography */

 h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 3em;
  font-family: 'Pacifico', cursive;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}


h2 {
  font-size: 30px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
  text-align: left;
}

p {
  font-size: 1.1em;
  font-family: 'Lato', sans-serif;
  line-height: 1.7em;
}

/* header */

.navbar-custom {
  background-color: #000033;
  color: #FFFFFF;
  height: 100px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
    background-color: #000033;
    font-family: 'Lato', sans-serif;
    font-size: 18px;

}

.navbar-brand {
    max-width: 50%;
}

#logo {

  font-family: 'Oxygen', sans-serif;
  float: left;
  margin-right: 10px;
  font-size: 3em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


.navbar-fixed-bottom {
  height: 50px;
  padding-right: 60px;
}

/* miscellaneous */


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}