<div class="navbar navbar-default navbar-fixed-bottom">

  <p class="navbar-text">
    Fashion Truck US Copyright 2015</a>
  </p>
  <nav>
    <ul class="nav navbar-nav navbar-right footer-navbar">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contacts_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</div>
